chemprop_unc/job
chemprop_unc/save_models/*
!chemprop_unc/save_models/docking_evidential/
!chemprop_unc/save_models/docking_evidential/*
!chemprop_unc/save_models/organic_emitter_ensemble_mve/
!chemprop_unc/save_models/organic_emitter_ensemble_mve/*
!chemprop_unc/save_models/reactivity_evidential/
!chemprop_unc/save_models/reactivity_evidential/*

RESULTS/*
!RESULTS/docking/
!RESULTS/docking/*
!RESULTS/docking_1syh_score/
!RESULTS/docking_1syh_score/*
!RESULTS/docking_4lde_score/
!RESULTS/docking_4lde_score/*
!RESULTS/docking_6y2f_score/
!RESULTS/docking_6y2f_score/*
!RESULTS/organic_emitter/
!RESULTS/organic_emitter/*
!RESULTS/organic_emitter_oscillator_strength/
!RESULTS/organic_emitter_oscillator_strength/*
!RESULTS/organic_emitter_singlet-triplet_value/
!RESULTS/organic_emitter_singlet-triplet_value/*
!RESULTS/reactivity/
!RESULTS/reactivity/*
!RESULTS/reactivity_activation_energy/
!RESULTS/reactivity_activation_energy/*
!RESULTS/reactivity_reaction_energy/
!RESULTS/reactivity_reaction_energy/*

job_uncmoo/

RESULTS_*/

test_scripts/
figures/
scripts/
scripts_analyze/figures/
scripts_analyze/figures_2023/
scripts_analyze/figures_saved/
plot_iteration_single_objective.ipynb
plot_iteration_utopian.ipynb
analyze_multi_objective.ipynb
reproduce_calculations.ipynb

!dockstring/dockstring-dataset.csv
log_files/

wandb/
biased_dataset/
dockstring/
wandb_record_reactivity.py
wandb_record.py
